.manual {
	padding: 2.5rem 1rem;
	color: #FFFFFF;
	background: #2b2b2b;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

	&__inner { max-width: 1100px; margin: 0 auto; text-align: right; }

		p { margin-bottom: 0.75rem; color: rgba(255,255,255,0.9); }
}
