.services {
  padding: 2rem 1rem;
  background-color: #e9e9e5;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  @media (max-width: 768px) {
    // Changed 90% to 97% for a much flatter angle
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 97%, 0 100%);
  }

  &__inner { max-width: 1100px; margin: 0 auto; text-align: left; color: #2b2b2b;}

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    color: #2b2b2b;
  }

  &__item { padding: 1rem; border-radius: 8px; border: 1px solid rgba(43,43,43,0.9); }
  h3 { margin: 0 0 0.5rem 0; }
  h1 { display: flex; justify-content: right;}
}
