.about {
  padding: 2.5rem 1rem;
  color: #FFFFFF;
  background: #2b2b2b;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  &__inner { max-width: 900px; margin: 0 auto; text-align: left; }

  h1 {  }
  p { margin-bottom: 0.75rem; color: rgba(255,255,255,0.9); }
}
