.hero {
  background: #e9e9e5;
  color: #2b2b2b;
  padding: 5rem 0 4rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 1rem;
  }

  &__inner {
    //max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem 1.5rem 1rem;
    text-align: center;
  }

  &__title {
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0 0 1.5rem 0;
    font-weight: bold;
    text-align: center;
  }

  &__subtitle {
    flex: 1 1 auto;
    display: flex;
    color: #2b2b2b;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    max-width: 60ch;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

  &__actions {
    flex: 0 0 auto;
    margin-top: 0;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    width: auto;

    .hero__phone {
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 1rem;
    }

    .hero__email {
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    // Changed 90% to 97% for a much flatter angle
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 97%, 0 100%);
  }

  @media (max-width: 900px) {
    .hero__title { font-size: 2.1rem; }


    .hero__content {
      gap: 0.75rem;
    }

    .hero__actions {
      align-items: center;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-self: auto;
      margin-top: 1.5rem;
    }
  }
}