.hero {
  background: #e9e9e5;
  color: #2b2b2b;
  padding: 5rem 0 4rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* --- THIS IS THE NEW PART --- */
  clip-path: ellipse(120% 100% at 50% 100%);
  

  &__inner {
    //max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem 1.5rem 1rem;
    text-align: center;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0 0 1.5rem 0;
    font-weight: 400;

  }

  &__subtitle {
    color: #2b2b2b;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: vw;
    max-width: 60ch;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }

}

@media (max-width: 900px) {
  .hero__title { font-size: 2.1rem; }
}
