.i {
	padding: 2.5rem 1rem;
	background: #e9e9e5;
    color: #2b2b2b;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

	&__inner { max-width: 1100px; margin: 0 auto; text-align: left; }

	p { margin-bottom: 0.75rem; color: rgba(43,43,43,0.9); }
}
