.ferestre-page {
  padding-bottom: 80px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #2b2b2b;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px;
  }
}