.auto {
  padding: 2.5rem 1rem;
  background: #e9e9e5;
  color: #2b2b2b;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  padding-bottom: 4rem;

  &__inner { 
    max-width: 1100px; 
    margin: 0 auto; 
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }


  &__text {
    text-align: left;
  }


  &__image {
    & img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
    }
  }


  p { 
    margin-bottom: 0.75rem; 
    color: rgba(43, 43, 43, 0.9); 
  }


  @media (max-width: 768px) {

    padding: 3rem 1rem 4rem;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

    &__inner {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }

    &__text {
      text-align: center;
    }
  }
}