.navbar {
  width: 100%;
  position: relative;
  z-index: 40;
  background-color: #2b2b2b;

  & .nav__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  & .nav__brand a {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }


  & .nav__links-desktop {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }


  & .nav__link {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s ease;

    &:hover {
      color: #fff;
    }
  }



  & .nav__item {
    position: relative;
  }


  & .nav__link--button {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    font-size: 0.95rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }


  & .nav__chev {
    transition: transform 0.3s ease;
  }


  & .nav__item--open .nav__chev {
    transform: rotate(180deg);
  }


  & .nav__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    background-color: #3a3a3a;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: max-content;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    & a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: #ffffff;
      border-radius: 4px;

      &:hover {
        background-color: #4a4a4a;
        color: #fff;
      }
    }
  }

  & .nav__item--open .nav__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & .nav__toggle {
    display: none;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 50;
  }

  & .nav__menu-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    border-top: 1px solid #444;

    & .nav__link {
      font-size: 1.1rem;
      text-align: center;
    }

    & a[href^="/"] {
      padding-left: 2rem;
      opacity: 0.8;
      font-size: 1rem;
      text-align: center;
    }
  }
}


@media (max-width: 900px) {

  .navbar .nav__links-desktop {
    display: none;
  }
  .navbar .nav__toggle {
    display: inline-flex;
  }
}